## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,atuona,PF,79.90,light rain,-9.8000,-139.0333,Villa Enata
1,2,olinda,BR,76.73,scattered clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
2,3,caravelas,BR,73.11,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
3,4,hamilton,US,87.04,broken clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
4,5,sibolga,ID,76.75,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'san remo']
vacation_end = vacation_df.loc[vacation_df['City'] == 'sinzig']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'firminy']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'mantes-la-ville'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'sinzig']

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(43.8182, 7.7612)
(50.55, 7.25)
(45.3873, 4.2907)
(48.9737, 1.7025)
(50.55, 7.25)

In [38]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='BICYCLING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,238,san remo,IT,70.97,clear sky,43.8182,7.7612,Royal Hotel Sanremo
1,261,sinzig,DE,71.20,overcast clouds,50.5500,7.2500,Maravilla Beauty Spa Hotel & Restaurant
2,64,firminy,FR,71.62,clear sky,45.3873,4.2907,HÃ´tel de la Tour et HÃ´tel du Pole
3,251,mantes-la-ville,FR,71.85,broken clouds,48.9737,1.7025,HÃ´tel du Val de Seine
4,261,sinzig,DE,71.20,overcast clouds,50.5500,7.2500,Maravilla Beauty Spa Hotel & Restaurant

In [41]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))